//GLOBAL DECLARE VARIABLES
$BG : #F8F8FF;
$NAV : #F1EBEB;
$NAV_HOVER: #03695b;
$TXT: #121212;
$DES: #343434; 
$CAT: #B22121;
$COPY: #CEBFBF;

$BUTTON: #3c3564;
$FONT: (26PX: 26px); // Adjust font sizes as needed


$NTAB: #943E3E;
$NTAB_SELECT: #592E2E;
$NTABBG: #D9D9D9;
$NTAB_SHORT: #E7E7E7;

$LST: #D9D9D9;
// FONT SIZES
$FONT:(
    12PX: 1vw,
    16PX: 1.2vw,
    17PX: 17px,
    18PX: 1.5vw,
    19PX: 1.6vw,
    20PX: 1.7vw,
    21PX: 21px,
    22PX: 22px,
    23PX: 23px,
    24PX: 24px,
    25PX: 25px,
    26PX: 1.9vw,
    27PX: 27px,
    28PX: 4vw,
    29PX: 29px,
    30PX: 30px,
    31PX: 31px,
    32PX: 2vw,
    33PX: 33px,
    34PX: 34px,
    35PX: 35px,
    36PX: 36px,
    37PX: 37px,
    38PX: 38px,
    39PX: 39px,
    40PX: 40px,
    41PX: 41px,
    42PX: 42px,
    43PX: 43px,
    44PX: 44px,
    45PX: 45px,
    46PX: 46px,
    47PX: 47px,
);

